<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

  <div>
    <label>Zip Code
      <input type="text"
      class="form-control"
      formControlName="zip"
      required>
    </label>
    <div ng-click>
      <div *ngIf="form.controls['zip'].invalid && (form.controls['zip'].dirty || form.controls['zip'].touched)">
        Zip code is required. Enter a 5 digit US zip code.
      </div>
    </div>
  </div>

  <div>
    <label for="distance">Distance (km)</label>
      <input type="radio"
      name="distance"
      formControlName="distance"
      value="5"
      autocomplete="off"
      required>
        <label for="5">5 km</label>
      <input type="radio"
      name="distance"
      formControlName="distance"
      value="10"
      autocomplete="off"
      required>
        <label for="10">10 km</label>
      <input type="radio"
      formControlName="distance"
      name="distance"
      value="15"
      autocomplete="off"
      required>
        <label for="15">15 km</label>
      <input type="radio"
      formControlName="distance"
      name="distance"
      value="25"
      autocomplete="off"
      required>
        <label for="25">25 km</label>
    <div ng-click>
      <div *ngIf="form.controls['distance'].invalid && (form.controls['distance'].dirty || form.controls['distance'].touched)">
        Enter a distance.
      </div>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid">Find Birds!</button>
  </div>
</form>

<div *ngFor="let bird of birdList">
  <h3>{{bird.comName}}</h3>
  <li>Scientific Name:  {{bird.sciName}}</li>
  <li>Observation Date: {{bird.obsDt}}</li>
  <li>How Many: {{bird.howMany}}</li>
</div>

<div *ngIf="message !== ''">
  {{message}}
</div>