<app-spinner></app-spinner>
<body>
<div class="title">
<img src="assets/perch.png" height="150px" width="auto">
<h1>Perch Patrol</h1>
</div>

<div class="form-container">
  <div class="form-content">
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

  <p><b>Welcome to Perch Patrol!</b> To get started, enter your zip code and the radius you want to search in. You'll get a list of all the significant bird sightings in your area in the last week.</p>

  <div>
    <label>Zip Code
      <input type="text"
      class="form-control"
      formControlName="zip"
      required>
    </label>
    <div ng-click class="error">
      <div *ngIf="form.controls['zip'].invalid && (form.controls['zip'].dirty || form.controls['zip'].touched)">
        Zip code is required. Enter a 5 digit US zip code.
      </div>
    </div>
  </div>

  <div>
    <label for="distance">Distance (km)</label>
      <input type="radio"
      name="distance"
      formControlName="distance"
      value="5"
      autocomplete="off"
      required>
        <label for="5">5 km</label>
      <input type="radio"
      name="distance"
      formControlName="distance"
      value="10"
      autocomplete="off"
      required>
        <label for="10">10 km</label>
      <input type="radio"
      formControlName="distance"
      name="distance"
      value="15"
      autocomplete="off"
      required>
        <label for="15">15 km</label>
      <input type="radio"
      formControlName="distance"
      name="distance"
      value="25"
      autocomplete="off"
      required>
        <label for="25">25 km</label>
    <div ng-click class="error">
      <div *ngIf="form.controls['distance'].invalid && (form.controls['distance'].dirty || form.controls['distance'].touched)">
        Enter a distance.
      </div>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid" class="btn">Find Birds!</button>
  </div>
</form>
</div>

<div *ngFor="let bird of birdList" class="bird-content">
  <h3>{{bird.comName}}</h3>
  <div class="column-image">
    <img src={{bird.image}} width="200px" height="200px">
    <div class="credit"><a href={{bird.ownerUrl}}><i>Photo Credit</i></a></div></div>
  <div class="column-text">
    <li>Scientific Name:  <i>{{bird.sciName}}</i></li>
    <li>Seen: {{bird.obsDt}}</li>
    <li>How Many: {{bird.howMany}}</li>
  </div>
  
  </div>

  <div *ngIf="message !== ''" class="bird-error">
    {{message}}
  </div>

</div>
<br><br><br>
</body>

<div class="footer">
  © Jenny Ryoo 2023. Information on bird sightings is sourced from <a href="https://ebird.org">eBird</a>. <a href="https://www.vecteezy.com/free-png/bird">Bird PNG by Vecteezy</a>. This product uses the Flickr API but is not endorsed or certified by SmugMug, Inc.
</div>